* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: robotoslab;
}

 /*primer múdulo*/
.imagebackground{
  background-image: url(../images/cover.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  
  
  
  
  
}

.font-header{
display:flex;
flex-direction: column;
align-items: center;
padding-top:10em;
height: 80%;
justify-content: flex-end;


}

.font-header h1{
  color: white;
  font-size:2.625em ;
  text-align: center;
}

.font-header p{
  color: white;
  font-size: 1em ;
}

.hamb{
  background-color: blue;
  padding:0.5em;
  position: fixed;
  top:0;
  z-index: 1;
}

.scroll{
  background-color: white;
  padding: 0.3em;
  border-radius: 50%;
  margin-top: 1.5em;

}

/*segundo módulo*/

.font-mod2{
  padding: 0.8em;
 width:100%;

 @media (width >1024px){
 padding-inline:15em;
 }
 
}

.font-mod2 p{
  font-size: 0.875em;
  color: #8ccbea;
  padding: 0.5em;
  text-align:left;

}

.font-mod2 h2{
  font-size:1.5em;
  text-align:left;
  padding: 0.5em;

}

.font-mod2 h6{
  font-size:1.2em;
  color: #4a4a4a;
  text-align:left;
  padding: 0.5em;

}

.go{
  color:  #f26002;
  border-radius : 38%;
  border: 2px solid #f26002;
  font-size: 1em;
  padding-inline: 0.8em;
  padding-block: 0.5em;
  margin: 0.8em;
  width: 16%;

 &:hover {
    background-color: rgb(58, 124, 179); 
    transform:scale(2.1);
}
  @media (width > 768px) {
    width: 76px;
    padding: 0.3em;
    height: 45px;
  }

}

.section h2{
  font-size: 1.5em;
  padding-left: 0.937em;
  height: 80%;
  }

  /*tercer módulo*/

.mod-3{
 
  background-color:#e7f2f8;
  display:flex;
  flex-direction:column;
  gap: 15vw;
  place-items: center;
  padding-block:2em;}

  
 


  .letter-mod3{

    
    @media (width>768px) {
     display:grid;
     grid-template-columns: repeat(3,1fr);
  
  }
  
}
.articles{
  /*padding-inline:4.68em;*/
  text-align: center;
  padding-block:1.5em;

}



.articles h6 {
  color: black;
  font-size: 1.125em;
  font-weight: bold;
  
  


}
.articles p{
  color: black;
  font-size: 1.125em;
 
}

.reason{
  font-size: 1.25em;
  width: 50vw;
  background-color: #f26002;
  border-radius:1.4em;
  color: white;
  border-color: #cee9e7;
  padding:0.4em;
  

  &:hover {
    background-color: rgb(58, 124, 179); 
    transform:rotate(10deg);
    }
    }

   /*footer*/

.footer{
  position:relative;
  padding-block:4.06em;
  display:flex;
  background-color: rgb(44, 44, 85);
  justify-content: center;
     flex-direction: column;
    gap: 1.5em;
   
    @media (width>768px) {
      flex-direction:row;

   
   }

   @media (width>1024x) {
    flex-direction:row;
    

    
  }
}


footer img{
  width: 2.5em;
  background-color:white;
  border-radius: 50%;
  padding: 0.5em;
  position:absolute;
  top: -5%;
  transform:translate(45vw,0);


  
}

  
 

  
  .footer  ul{
    list-style:none;
    display:flex;
    flex-direction: column;
    gap:0.5em;
    text-align: center;

  
    }
    



.footer a{
  color: white;
  text-decoration: none;
}

.footer div{
  color: white;
  text-align: center;

  @media (width>768px) {
    order:-1;
 
 }



}


